
# app settings
FAIRPOST_UI=cli
FAIRPOST_LOGGER_CONFIG=log4js.json
FAIRPOST_LOGGER_CATEGORY=default
FAIRPOST_LOGGER_LEVEL=trace
FAIRPOST_LOGGER_CONSOLE=false
FAIRPOST_STORAGE_SETTINGS=env
FAIRPOST_STORAGE_AUTH=env
FAIRPOST_USER_AGENT=Fairpost 1.0

# feed settings

FAIRPOST_FEED_PATH=feed
FAIRPOST_FEED_INTERVAL=6 #days
FAIRPOST_FEED_PLATFORMS=

# all platforms:
# FAIRPOST_FEED_PLATFORMS=facebook,instagram,twitter,reddit

# all ayrshare platforms:
# FAIRPOST_FEED_PLATFORMS=asyoutube,asfacebook,aslinkedin,asinstagram,astiktok,asreddit,astwitter


# oauth client used to set up platforms
FAIRPOST_REQUEST_HOSTNAME=localhost
FAIRPOST_REQUEST_PORT=8000

# ayrshare settings
# FAIRPOST_AYRSHARE_API_KEY=xxxx
# FAIRPOST_AYRSHARE_SUBREDDIT=xxxx

# facebook settings
# FAIRPOST_FACEBOOK_APP_ID=xxx
# FAIRPOST_FACEBOOK_APP_SECRET=xxx
# FAIRPOST_FACEBOOK_PAGE_ID=xxx 
# FAIRPOST_FACEBOOK_PUBLISH_POSTS=true
# facebook auth
# FAIRPOST_FACEBOOK_PAGE_ACCESS_TOKEN=xxx

# instagram settings
# FAIRPOST_INSTAGRAM_APP_ID=xxx
# FAIRPOST_INSTAGRAM_APP_SECRET=xxx
# FAIRPOST_INSTAGRAM_USER_ID=xxx 
# FAIRPOST_INSTAGRAM_PAGE_ID=xxx 
# instagram auth
# FAIRPOST_INSTAGRAM_PAGE_ACCESS_TOKEN=xxx

# twittter settings
# FAIRPOST_TWITTER_CLIENT_ID=xxx
# FAIRPOST_TWITTER_CLIENT_SECRET=xxx
# FAIRPOST_TWITTER_OA1_API_KEY=xxx
# FAIRPOST_TWITTER_OA1_API_KEY_SECRET=xxx
# FAIRPOST_TWITTER_OA1_ACCESS_TOKEN=xxx
# FAIRPOST_TWITTER_OA1_ACCESS_SECRET=xxx
# twitter auth
# FAIRPOST_TWITTER_ACCESS_TOKEN=xxx
# FAIRPOST_TWITTER_REFRESH_TOKEN=xxx

# reddit settings 
# FAIRPOST_REDDIT_CLIENT_ID=xxx
# FAIRPOST_REDDIT_CLIENT_SECRET=xxx
# FAIRPOST_REDDIT_SUBREDDIT=test
# reddit auth
# FAIRPOST_REDDIT_ACCESS_TOKEN=xxx
# FAIRPOST_REDDIT_REFRESH_TOKEN=xxx
