{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "prettier",
      "jsdoc"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier",
      "plugin:jsdoc/recommended-typescript"
    ],
    "rules": {
      "prettier/prettier": 2, // Means error
      "jsdoc/require-jsdoc": 0,
      "jsdoc/require-param-description" : 0
    }
}